{% extends 'base.html' %}

{% block htitle %}Movies By Genres{% endblock %}
{% block title %}(GQ) Movies By Genres{% endblock %}

{% block content %}
<div class="card card-signin mb-4">
    <div class="card-body">    
        {% for genre in object_list %}
            <h6 class="card-title">
            <a href="{% url 'movies:movies_by_genre2' genre.slug %}">{{ genre.name }}</a>
            <small>({{ genre.movies.count }} movies)</small>
            </h6>
        {% endfor %}  
    </div>
</div>
{% endblock %}
