{% extends 'base.html' %}

<!-- Title -->
{% block htitle %}{{ object.full_name }} <small>{{ object.nick }}</small>{% endblock %}
{% block title %}{{ object.full_name }} <small>{{ object.nick }}</small>{% endblock %}   

{% block content %}
<!-- Post Content Column -->
<div class="col-lg-12">   

    <p class="small">
        <span class="text-muted"><a href="#comments">{{ object.comments.count }} comments</a></span> 
    </p>  
    <div class="card mb-4">
        <div class="row no-gutters">    
            <div class="col-md-3">
                <img class="card-img-left" width="100%" src="http://placehold.it/250x400" alt="">
            </div>
            <div class="col-md-9">
                <iframe width="100%" height="100%" src="https://www.youtube.com/embed/{{ object.youtube_video }}" 
                    frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                </iframe>                    
            </div>
        </div>
    </div>   

    <div class="row">
        <div class="col-lg-8 lead">
            {{ object.summary_long }}
        </div>
        <div class="col-lg-4 card mb-4 small">
            <div class="no-gutters">    
                {% if object.birthdate %}
                <strong>Born: </strong> 
                    {{ object.birthdate }} (age: {{ object.age }}), 
                {% endif %}
                {% if object.birthplace %}
                    in {{ object.birthplace }}
                {% endif %}
            </div>
        </div> 
    </div>

    <hr>

    <!-- Post Content -->
    {{ object.bio|linebreaksbr }}

    <div id="cast" class="col-lg-12 small mt-5">
        <h4>Filmography</h4>
        <h5>As cast</h5>
        <div class="row mb-3">
            {% for mc in object.moviecast.all %}
                <div class="col-lg-3">
                    <a href="{% url 'movies:movie_detail' mc.movie.pk mc.movie.slug %}">{{ mc.movie.title }}</a>
                    ({{ mc.movie.release_year }})
                </div>
                <div class="col-lg-1">...</div>
                <div class="col-lg-8"><span class="font-italic text-muted">as</span> {{ mc.name }}</div>
            {% empty %}
                <div class="col-lg-12">There are no records..</div>
            {% endfor %}
        </div>
        <h5>As director</h5>
        <div class="row mb-3">
            {% for movie in object.directors.all %}
            <div class="col-lg-5">
                <a href="{% url 'movies:movie_detail' movie.pk movie.slug %}">{{ movie.title }}</a> 
                ({{ movie.release_year }})
            </div>
            {% empty %}
                <div class="col-lg-12">There are no records..</div>
            {% endfor %}
        </div> 
        <h5>As writer</h5>
        <div class="row mb-3">
            {% for movie in object.writers.all %}
                <div class="col-lg-5">
                    <a href="{% url 'movies:movie_detail' movie.pk movie.slug %}">{{ movie.title }}</a> 
                    ({{ movie.release_year }})
                </div>
            {% empty %}
                <div class="col-lg-12">There are no records..</div>
            {% endfor %}
        </div>       
    </div>

    <div class="card my-4">
        <div class="card-body">
            <p class="small">Content source: 
            {% if object.source_content %}
                <a href="{{ object.source_content }}" target="_blank">{{ object.source_content }}</a>
            {% else %}
                ...
            {% endif %}
            </p>
            <p class="small">Images credit: 
                {% if object.source_image %}
                    <br>{{ object.source_image }}
                {% else %}
                    ...
                {% endif %}
            </p>
        </div>
    </div>

    <hr>

        <!-- Preview Image -->
        <img class="img-fluid rounded" src="http://placehold.it/900x300" alt="">

    <hr>
    <!-- Comments Form -->
    <p id="comments"></p>
    {% if user.is_authenticated %}
    {% include 'celebs/comment-form.html' %}
    {% else %}
    <div class="card my-4">
        <h5 class="card-header">Leave a Comment:</h5>
        <div class="card-body">
            You need to be logged in to comment.
        </div>
    </div>
    {% endif %}
    
    {% for comment in object.comments.all %}
    <!-- Single Comment -->
    <div class="media mb-4">
        <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
        <div class="media-body">
        <h5 class="mt-0">{{ comment.user }}</h5>
        {{ comment.text|linebreaks }}
        </div>
    </div>
    {% empty %}
    <div class="media mb-4">
        <div class="media-body">No comments yet! You may add one.</div>
    </div>    
    {% endfor %}
</div>
{% endblock %}
