{% load crispy_forms_tags %}
<div class="card my-4">
    <h5 class="card-header">Leave a Comment:</h5>
    <div class="card-body">
    <form method="POST" action="">
        {% csrf_token %}
        <div class="form-group">
            {{ comment_form|crispy }}
        <input type="hidden" name="celeb" value="{{ object.id }}">
        <input type="hidden" name="user" value="{{ user.id }}">
        <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
    </div>
</div>