{% extends 'base.html' %}

<!-- Title -->
{% block htitle %}Add / Edit Movie notes in selected genres{% endblock %}
{% block title %}Add / Edit Movie notes in selected genres{% endblock %}

{% block content %}
<p>Genres and Movies are not editable on this form. They come from Genre and Movie tables.</p>
<form action="">
  <h2>Action</h2>
  <table>
  <tbody>
  <tr>
  <th>Movie</th>
  <th>Note</th>
  <th>Watched?</th>
  </tr>
  <tr>
  <td>The Dark Knight (2008)</td>
  <td><input type="text"></td>
  <td>
  <select name="watched">
    <option value="1">True</option>
    <option value="0">False</option>
  </select>
  </td>
  </tr>
  <tr>
  <td>The Matrix (1999)</td>
  <td><input type="text"></td>
  <td>
  <select name="watched">
    <option value="1">True</option>
    <option value="0">False</option>
  </select>
  </td>
  </tr>     
  </tbody>
  </table>
  <h2>Crime</h2>
  <table>
  <tbody>
  <tr>
  <th>Movie</th>
  <th>Note</th>
  <th>Watched?</th>
  </tr>
  <tr>
  <td>The Silence of the Lambs (1991)</td>
  <td><input type="text"></td>
  <td>
  <select name="watched">
    <option value="1">True</option>
    <option value="0">False</option>
  </select>
  </td>
  </tr>
  <tr>
  <td>The Godfather (1972)</td>
  <td><input type="text"></td>
  <td>
  <select name="watched">
    <option value="1">True</option>
    <option value="0">False</option>
  </select>
  </td>
  </tr>  
  </tbody>
  </table>
  <h2>Drama</h2>
  <table>
  <tbody>
  <tr>
  <th>Movie</th>
  <th>Note</th>
  <th>Watched?</th>
  </tr>
  <tr>
  <td>PK (2014)</td>
  <td><input type="text"></td>
  <td>
  <select name="watched">
    <option value="1">True</option>
    <option value="0">False</option>
  </select>
  </td>
  </tr>
  <tr>
  <td>The Pursuit of Happyness (2006)</td>
  <td><input type="text"></td>
  <td>
  <select name="watched">
    <option value="1">True</option>
    <option value="0">False</option>
  </select>
  </td>
  </tr> 
  </tbody>
  </table>
  <input type="submit" value="Submit">  
</form>
{% endblock %}
