{% extends 'base.html' %}

{% block content %}
<!-- Blog Post -->
<div class="card card-signin">
    <h2 class="card-title text-center my-4">Latest Movies <small>by release date</small></h2>
    <div class="card-body">
        <div class="row m-2">        
            <a href="{% url 'movies:home' %}" class="btn btn-outline-info btn-sm mr-3">All Movies</a>  
            <a href="{% url 'movies:top_movies' %}" class="btn btn-outline-info btn-sm mr-3">Top Movies</a>
            <a href="{% url 'movies:genre_home' %}" class="btn btn-outline-info btn-sm mr-3">Movies by Genres</a>
        </div>    
        {% include 'movies/movie-list.html' %}
    </div>
</div>

<div class="card card-signin">
    <h2 class="card-title text-center my-4">Celebrities</h2>
        <div class="card-body">
            <div class="row m-2">        
                <a href="{% url 'celebs:home' %}" class="btn btn-outline-info btn-sm mr-3">All Celebrities</a> 
            </div>       
            {% include 'celebs/celeb-list.html' %}
        </div>
</div>
{% endblock %}
