<!-- Navigation -->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="{% url 'index' %}">IMDB Clone</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarscol" aria-controls="navbarscol" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarscol">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'index' %}">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown07" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Movies</a>
            <div class="dropdown-menu" aria-labelledby="dropdown07">
              <a class="dropdown-item" href="{% url 'movies:home' %}">Latest Movies</a>
              <a class="dropdown-item" href="{% url 'movies:top_movies' %}">Top Movies</a>
              <a class="dropdown-item" href="{% url 'movies:genre_home' %}">By Genre</a>
            </div>
          </li>          
          <li class="nav-item">
            <a class="nav-link" href="{% url 'celebs:home' %}">Celebs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Contact</a>
          </li>          
        </ul>
        <form class="form-inline my-2 my-md-0">
          <input class="form-control" type="text" placeholder="Search" aria-label="Search">
        </form>
      </div>
    </div>
</nav>